{% if baskets %}
<div class="col-lg-5 mt-5">
            <h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
                Книги на полке <span class="badge badge-secondary badge-pill">{{ baskets.total_quantity }}</span>
            </h4>
            {% for basket in baskets %}
                {% if not basket.is_return %}
                    {% include 'users/components/product_in_baskets.html' %}
                {% endif %}
            {% endfor %}
</div>
{% else %}
            <h4 class="mt-5 pt-3 text-center">
                Полка пуста
            </h4>
{% endif %}

